<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Favorite Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>
<body>
    <div class="mycontainer">
        <a id="subhead" href="/books">Home</a>
        <div id="mainhead">
            <h1>FAVORITE BOOKS: Welcome, {{specified_user.first_name}} ㋡</h1>
        </div>
        <a id="subhead" href="/log_out">Log Out</a>
    </div>
    <div class="welcomecontainer">
        <div class="col">
            <div class="stack">
                <h1>Add a Book:</h1>
                <form class="book_modules" action='/add_book' method='post'>
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                        <li class="list-group-item list-group-item-action list-group-item-danger" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="mb-3">
                        <label for="book_title" class="form-label">Title:</label>
                        <input type="text" name = "book_title" class="form-control">
                        <input type="hidden" name = "uploaded_by" value="{{specified_user.id}}">
                    </div>
                    <div class="mb-3">
                        <label for="book_desc" class="form-label">Description:</label>
                        <textarea type="text" name = "book_desc" class="form-control" rows="5" cols="40"></textarea>
                    </div>
                    <button type="submit" id="mybutton" class="btn btn-dark">Add</button>
                </form>
            </div>
            <div>
                <h1>My Favorite Books:</h1>
                <ul class="book_modules">
                    {% for book in my_favorites %}
                    <li class ="favorite_book"><a href="/books/{{book.id}}">{{book.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            <div class="col">
            <h1>All Books</h1>
            <div class="book_modules">
                {% for i in all_the_books %}
                <div class="specific_book">
                    <h4><a href="/books/{{i.id}}">{{i.title}}</a></h4>
                    <p>(added by {{i.uploaded_by.first_name}} {{i.uploaded_by.last_name}})</p>
                    {% if specified_user not in i.users_who_like.all %}
                    <a class="favorites_decider" href="/add_to_favorites/{{i.id}}">Add to Favorites</a>
                    {% endif %}
                    {% if specified_user in i.users_who_like.all %}
                    <p class="favorites_decider" id="italic">** this is one of your favorites **</p>
                    {% endif %}
                </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    </body>
</html>