body {
    background-image: linear-gradient(135deg, #ffffff 37.50%, #e6effa 37.50%, #e6effa 50%, #ffffff 50%, #ffffff 87.50%, #e6effa 87.50%, #e6effa 100%);
    background-size: 5.66px 5.66px;
    font-family: 'Comic Sans MS', Courier, monospace;
}

#mycontainer {
    padding: 10px;
    width: 95%;
    display: flex;
}


#registration_form {
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    background-color:  white;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    border-radius: 5px;
    border: black solid 1px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    background-color:  white;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    border-radius: 5px;
    border: black solid 1px;
}
#registration {
    text-shadow: 2px 2px 4px rgb(27, 145, 147);
    padding: 20px;
    width: 45%;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    margin: 20px;
    background-color:  white;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    border-radius: 5px;
    border: black solid 5px;
}

#login {
    text-shadow: 2px 2px 4px rgb(27, 145, 147);
    padding: 20px;
    width: 45%;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    margin: 20px;
    background-color:  white;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    border-radius: 5px;
    border: black solid 5px;
}

#button {
    text-shadow: 2px 2px 4px rgb(27, 145, 147);
    padding: 10px;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    text-align: center;
    background-color:  rgb(27, 145, 147);
    color: white;
    box-shadow: 2px 2px 4px rgb(27, 145, 147);
    border-radius: 5px;
    border: black solid 1px;
    text-decoration: none;
}

#seeall {
    padding-left: 30px;
    font-size: 8pt;
}
