<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/view_shows.css' %}">
</head>
<body>
    <div class="container">
        <div class="container">
            <h1 id="mainhead">Edit Show {{specific_show.id}}</h1>
            <form id="form" class="row g-3" action='/shows/{{specific_show.id}}/edit/execute' method='post'>
                {% csrf_token %}
                <div class="col-12">
                    <label for="show_title" class="form-label">Title</label>
                    <input type="text" name="show_title" class="form-control" value="{{specific_show.title}}">
                </div>
                <div class="col-md-6">
                    <label for="show_network" class="form-label">Network</label>
                    <input type="text" name="show_network" class="form-control"  value="{{specific_show.network}}">
                </div>
                <div class="col-md-6">
                    <label for="show_release_date" class="form-label">Release Date</label>
                    <input type="date" name="show_release_date"class="form-control" value="{{date|safe}}">
                </div>
                <div class="col-12">
                    <label for="show_desc" class="form-label">Description</label>
                    <textarea type="text" name="show_desc" class="form-control" rows="5" cols="40" >{{specific_show.desc}}</textarea>
                </div>
                <button type="submit" id="button" class="btn btn-dark">Edit Show</button>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li class="list-group-item list-group-item-action list-group-item-danger" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
            <div id="go_back">
                <p>(Go back to <a href="/shows">View All Shows</a>)</p>
            </div>
    </div>
</body>
</html>