<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
</head>
<body>
    <div id="mycontainer">
        <div id="mainhead">
            <h1>Success! Welcome, {{specified_user.first_name}} ㋡</h1>
            <br>
            <p>Successfully registered (or logged in)!</p>
        </div>
        <a id="subhead" href="/log_out">Log Out</a>
    </div>
</body>
</html>