<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
</head>
<body>
    <div id="mycontainer">
        <h1>Users</h1>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Email</th>
                    <th scope="col">Hashed Password</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for users in all_the_users %}
                <tr>
                    <th scope="row">{{users.id}}</th>
                    <td>{{users.first_name}} {{users.last_name}}</td>
                    <td>{{users.birthday|date:"n/j/Y"}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.password}}</td>
                    <td><a href="/delete/{{users.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>(Go back to <a href="/">Home</a>)</p>
    </div>        
</body>
</html>